# dhcpd.conf
#
# Sample configuration file for ISC dhcpd
#

# option definitions common to all supported networks...
#option domain-name "example.org";
#option domain-name-servers ns1.example.org, ns2.example.org;

#default-lease-time 600;
#max-lease-time 7200;

# Use this to enble / disable dynamic dns updates globally.
#ddns-update-style none;

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
#authoritative;

# Use this to send dhcp log messages to a different log file (you also
# have to hack syslog.conf to complete the redirection).
#log-facility local7;

# No service will be given on this subnet, but declaring it helps the 
# DHCP server to understand the network topology.

#subnet 10.152.187.0 netmask 255.255.255.0 {
#}

# This is a very basic subnet declaration.

#subnet 10.254.239.0 netmask 255.255.255.224 {
#  range 10.254.239.10 10.254.239.20;
#  option routers rtr-239-0-1.example.org, rtr-239-0-2.example.org;
#}

# This declaration allows BOOTP clients to get dynamic addresses,
# which we don't really recommend.

#subnet 10.254.239.32 netmask 255.255.255.224 {
#  range dynamic-bootp 10.254.239.40 10.254.239.60;
#  option broadcast-address 10.254.239.31;
#  option routers rtr-239-32-1.example.org;
#}

# A slightly different configuration for an internal subnet.
#subnet 10.5.5.0 netmask 255.255.255.224 {
#  range 10.5.5.26 10.5.5.30;
#  option domain-name-servers ns1.internal.example.org;
#  option domain-name "internal.example.org";
#  option routers 10.5.5.1;
#  option broadcast-address 10.5.5.31;
#  default-lease-time 600;
#  max-lease-time 7200;
#}

# Hosts which require special configuration options can be listed in
# host statements.   If no address is specified, the address will be
# allocated dynamically (if possible), but the host-specific information
# will still come from the host declaration.

#host passacaglia {
#  hardware ethernet 0:0:c0:5d:bd:95;
#  filename "vmunix.passacaglia";
#  server-name "toccata.example.com";
#}

# Fixed IP addresses can also be specified for hosts.   These addresses
# should not also be listed as being available for dynamic assignment.
# Hosts for which fixed IP addresses have been specified can boot using
# BOOTP or DHCP.   Hosts for which no fixed address is specified can only
# be booted with DHCP, unless there is an address range on the subnet
# to which a BOOTP client is connected which has the dynamic-bootp flag
# set.
#host fantasia {
#  hardware ethernet 08:00:07:26:c0:a5;
#  fixed-address fantasia.example.com;
#}

# You can declare a class of clients and then do address allocation
# based on that.   The example below shows a case where all clients
# in a certain class get addresses on the 10.17.224/24 subnet, and all
# other clients get addresses on the 10.0.29/24 subnet.

#class "foo" {
#  match if substring (option vendor-class-identifier, 0, 4) = "SUNW";
#}

#shared-network 224-29 {
#  subnet 10.17.224.0 netmask 255.255.255.0 {
#    option routers rtr-224.example.org;
#  }
#  subnet 10.0.29.0 netmask 255.255.255.0 {
#    option routers rtr-29.example.org;
#  }
#  pool {
#    allow members of "foo";
#    range 10.17.224.10 10.17.224.250;
#  }
#  pool {
#    deny members of "foo";
#    range 10.0.29.10 10.0.29.230;
#  }
#}

{% if dhcp_domain_name is defined %}
option domain-name "{{ dhcp_domain_name }}";
{% endif %}
{% if dhcp_domain_name_servers is defined %}
option domain-name-servers {{ dhcp_domain_name_servers | join(', ') }};
{% endif %}
default-lease-time {{ dhcp_default_lease_time }};
max-lease-time {{ dhcp_max_lease_time }};

{% if dhcp_authoritative %}
authoritative;
{% endif %}

{% for subnet in dhcp_subnet %}
subnet {{ subnet.net | ipaddr('network') }} netmask {{ subnet.net | ipaddr('netmask') }} {
{% for range in subnet.ranges | default([]) %}
  range {{ range }};
{% endfor %}
{% if 'routers' in subnet %}
  option routers {{ subnet.routers | join(' ') }};
{% endif %}
{% if 'domain_name' in subnet %}
  option domain-name "{{ subnet.dhcp_domain_name }}";
{% endif %}
{% if 'domain_name_servers' in subnet %}
  option domain-name-servers {{ subnet.dhcp_domain_name_servers | join(', ') }};
{% endif %}
  option broadcast-address {{ subnet.net | ipaddr('broadcast') }};
{% if 'default_lease_time' in subnet %}
  default-lease-time {{ subnet.default_lease_time }};
{% endif %}
{% if 'max_lease_time' in subnet %}
  max-lease-time {{ subnet.max_lease_time }};
{% endif %}
{% if 'filename' in subnet %}
  filename {{ subnet.filename }};
{% endif %}
{% if 'server_name' in subnet %}
  server-name {{ subnet.server_name }};
{% endif %}
}
{% endfor %}

{% for host in dhcp_host %}
host {{ host.name }} {
  hardware ethernet {{ host.hardware_ethernet }};
  option host-name "{{ host.host_name }}";
  fixed-address {{ host.fixed_address }};
{% if 'filename' in host %}
  filename {{ host.filename }};
{% endif %}
{% if 'server_name' in host %}
  server-name {{ host.server_name }};
{% endif %}
}

{% endfor %}

{% if dhcp_include is defined %}
include "{{ dhcp_include }}";
{% endif %}
